<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IHSM_Suite">

	<listeners>
		<listener class-name="com.ihsm.university.utilities.ExtentListener" />
	</listeners>

	<!-- Chrome Test -->
	<test name="IHSM_UNIVERSITY_Chrome">
		<parameter name="os" value="windows" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class
				name="com.ihsm.university.testcases.workflow.IHSM_EmployeeRegistrationFullWorkFlow" />

		</classes>
	</test>

	<!-- Firefox Test (optional) -->
	<!--
    <test name="IHSM_UNIVERSITY_Firefox" thread-count="3">
        <parameter name="os" value="windows"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <class
	name="com.ihsm.university.testcases.workflow.IHSM_StudentRegistrationFullWorkFlow"/>
        </classes>
    </test>
    -->

</suite>
